FractalBench/.build
.DS_Store
Traces
MetalRaymarch.xcodeproj/project.xcworkspace/xcuserdata/*
MetalRaymarch.xcodeproj/project.xcworkspace/xcuserdata
MetalRaymarch.xcodeproj/project.xcworkspace/xcuserdata/halopend.xcuserdatad/UserInterfaceState.xcuserstate
Threshold.xcodeproj/project.xcworkspace/xcuserdata/halopend.xcuserdatad/UserInterfaceState.xcuserstate
Threshold.xcodeproj/project.xcworkspace/xcuserdata/halopend.xcuserdatad/UserInterfaceState.xcuserstate
Threshold.xcodeproj/project.xcworkspace/xcuserdata/halopend.xcuserdatad/UserInterfaceState.xcuserstate
.venv
.agents
.agent
.windsurf
build/*
.build/*
